################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/PrintPattern/.vs/PrintPattern/v15/Browse.VC.opendb
/AnIdealProblem/.vs/AnIdealProblem/v15/.suo
/AnIdealProblem/.vs/AnIdealProblem/v15/Browse.VC.db
/AnIdealProblem/.vs/AnIdealProblem/v15/Browse.VC.opendb
