################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/PrintPattern/.vs/PrintPattern/v15/Browse.VC.opendb
